<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>家私计算器平台</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="/static/img/ico/16.ico" sizes="16x16" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/img/ico/24.ico" sizes="24x24" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/img/ico/32.ico" sizes="32x32" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/img/ico/48.ico" sizes="48x48" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/img/ico/64.ico" sizes="64x64" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/img/ico/72.ico" sizes="72x72" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/img/ico/96.ico" sizes="96x96" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/img/ico/128.ico" sizes="128x128" type="image/x-icon"/>
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/static/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/assets/plugins/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="/static/assets/plugins/animate/animate.min.css" rel="stylesheet" />
    <link href="/static/assets/css/default/style.min.css" rel="stylesheet" />
    <link href="/static/assets/css/default/style-responsive.min.css" rel="stylesheet" />
    <link href="/static/assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="/static/assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="/static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="/static/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="/static/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="/static/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/static/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
    <link href="/static/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar-default">
        <!-- begin navbar-header -->
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> <b>家私</b> 计算器</a>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- end navbar-header -->

        <!-- begin header-nav -->
        <ul class="navbar-nav navbar-right">
            <li class="dropdown navbar-user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ .user_data.Logo }}" alt="" />
                    <span class="d-none d-md-inline">{{ .user_data.Name }}</span> <b class="caret"></b>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/logout" class="dropdown-item">退出登录</a>
                </div>
            </li>
        </ul>
        <!-- end header navigation right -->
    </div>
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">
            <!-- begin sidebar user -->
            <ul class="nav">
                <li class="nav-profile">
                    <a href="javascript:;" data-toggle="nav-profile">
                        <div class="cover with-shadow"></div>
                        <div class="image">
                            <img src="{{ .user_data.Logo }}" alt="" />
                        </div>
                        <div class="info">
                            <b class="caret pull-right"></b>
                            {{ .user_data.Name }}
                        </div>
                    </a>
                </li>
                <li>
                    <ul class="nav nav-profile">
                        <li><a href="/logout"><i class="fa fa-question-circle"></i> 退出登录</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end sidebar user -->
            <!-- begin sidebar nav -->
            <ul class="nav">
                <li class="nav-header">菜单</li>
                {{range .sidebar}}
                <li class="has-sub {{ .Active }}">
                    <a href="{{ .Url }}">
                        <i class="{{ .Font }}"></i>
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                {{end}}
            </ul>
            <!-- end sidebar nav -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->