{{template "admin/header.html" .}}
<!-- begin #content -->
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Tables</a></li>
        <li class="breadcrumb-item active">Managed Tables</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Managed Tables <small>header small text goes here...</small></h1>
    <!-- end page-header -->
    <!-- begin panel -->
    <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Data Table - Default</h4>
        </div>
        <!-- end panel-heading -->
        <!-- begin panel-body -->
        <div class="panel-body">
            <table id="data-table-default" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="10%">ID</th>
                        <th class="text-nowrap">类型名称</th>
                        <th class="text-nowrap">金额</th>
                        <th class="text-nowrap">级别</th>
                        <th class="text-nowrap">创建时间</th>
                        <th class="text-nowrap">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .list}}
                    <tr class="odd gradeX">
                        <td width="10%" class="f-s-600 text-inverse">{{ .Id }}</td>
                        <td>{{ .Type }}</td>
                        <td>{{ .Money }}</td>
                        {{if eq .Pid 0}}
                            <td>父级</td>
                        {{else}}
                            <td>子级</td>
                        {{end}}
                        <td>{{convertTime .Created}}</td>
                        <td>
                            <button type="button" class="btn btn-lime" onclick="javascrtpt:window.location.href='/admin/types/update/{{ .Id }}'">修改</button>
                            <button type="button" class="btn btn-danger" onclick="delTypes({{ .Id }})">删除</button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <!-- end panel-body -->
    </div>
    <!-- end panel -->
</div>
<!-- end #content -->
<!-- end #content -->

{{template "admin/footer.html" .}}