
<!-- begin theme-panel -->
<div class="theme-panel theme-panel-lg">
    <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
    <div class="theme-panel-content">
        <h5 class="m-t-0">Color Theme</h5>
        <ul class="theme-list clearfix">
            <li><a href="javascript:;" class="bg-red" data-theme="red" data-theme-file="/static/assets/css/default/theme/red.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-pink" data-theme="pink" data-theme-file="/static/assets/css/default/theme/pink.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Pink">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-theme-file="/static/assets/css/default/theme/orange.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-yellow" data-theme="yellow" data-theme-file="/static/assets/css/default/theme/yellow.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Yellow">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-lime" data-theme="lime" data-theme-file="/static/assets/css/default/theme/lime.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Lime">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-green" data-theme="green" data-theme-file="/static/assets/css/default/theme/green.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Green">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-teal" data-theme="default" data-theme-file="/static/assets/css/default/theme/default.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-aqua" data-theme="aqua" data-theme-file="/static/assets/css/default/theme/aqua.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Aqua">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-theme-file="/static/assets/css/default/theme/blue.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-theme-file="/static/assets/css/default/theme/purple.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-indigo" data-theme="indigo" data-theme-file="/static/assets/css/default/theme/indigo.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Indigo">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-black" data-theme="black" data-theme-file="/static/assets/css/default/theme/black.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
        </ul>
        <div class="divider"></div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">Header Styling</div>
            <div class="col-md-6">
                <select name="header-styling" class="form-control form-control-sm">
                    <option value="1">default</option>
                    <option value="2">inverse</option>
                </select>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">Header</div>
            <div class="col-md-6">
                <select name="header-fixed" class="form-control form-control-sm">
                    <option value="1">fixed</option>
                    <option value="2">default</option>
                </select>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">Sidebar Styling</div>
            <div class="col-md-6">
                <select name="sidebar-styling" class="form-control form-control-sm">
                    <option value="1">default</option>
                    <option value="2">grid</option>
                </select>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">Sidebar</div>
            <div class="col-md-6">
                <select name="sidebar-fixed" class="form-control form-control-sm">
                    <option value="1">fixed</option>
                    <option value="2">default</option>
                </select>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">Sidebar Gradient</div>
            <div class="col-md-6">
                <select name="content-gradient" class="form-control form-control-sm">
                    <option value="1">disabled</option>
                    <option value="2">enabled</option>
                </select>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">Content Styling</div>
            <div class="col-md-6">
                <select name="content-styling" class="form-control form-control-sm">
                    <option value="1">default</option>
                    <option value="2">black</option>
                </select>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">Direction</div>
            <div class="col-md-6">
                <select name="direction" class="form-control form-control-sm">
                    <option value="1">LTR</option>
                    <option value="2">RTL</option>
                </select>
            </div>
        </div>
        <div class="divider"></div>
        <h5>THEME VERSION</h5>
        <div class="theme-version">
            <a href="../template_html/index_v2.html" class="active">
                <span style="background-image: url(/static/assets/img/theme/default.jpg);"></span>
            </a>
            <a href="../template_transparent/index_v2.html">
                <span style="background-image: url(/static/assets/img/theme/transparent.jpg);"></span>
            </a>
        </div>
        <div class="theme-version">
            <a href="../template_apple/index_v2.html">
                <span style="background-image: url(/static/assets/img/theme/apple.jpg);"></span>
            </a>
            <a href="../template_material/index_v2.html">
                <span style="background-image: url(/static/assets/img/theme/material.jpg);"></span>
            </a>
        </div>
        <div class="theme-version">
            <a href="../template_facebook/index_v2.html">
                <span style="background-image: url(/static/assets/img/theme/facebook.jpg);"></span>
            </a>
        </div>
        <div class="divider"></div>
        <div class="row m-t-10">
            <div class="col-md-12">
                <a href="javascript:;" class="btn btn-inverse btn-block btn-rounded" data-click="reset-local-storage"><b>Reset Local Storage</b></a>
            </div>
        </div>
    </div>
</div>
<!-- end theme-panel -->

<!-- begin scroll to top btn -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
<!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="/static/assets/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="/static/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--[if lt IE 9]>
<script src="/static/assets/crossbrowserjs/html5shiv.js"></script>
<script src="/static/assets/crossbrowserjs/respond.min.js"></script>
<script src="/static/assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/assets/plugins/js-cookie/js.cookie.js"></script>
<script src="/static/assets/js/theme/default.min.js"></script>
<script src="/static/assets/js/apps.min.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/static/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
<script src="/static/assets/js/demo/form-plugins.demo.min.js"></script>

<!-- ================== END PAGE LEVEL JS ================== -->
<script src="/static/sweetalert2.js"></script>

<script>
    $(document).ready(function() {
        App.init();
        FormPlugins.init();
    });
    $('.input-daterange input').datepicker({
        language: 'zh-CN',
        orientation:'bottom'
    });

    function push_rebate() {
        ids = $('#rebate-ids').val() ? $('#rebate-ids').val() : '';
        title = $('#push-name').val();
        money = $('#push-money').val();
        date_star = $('#push-star').val();
        date_end = $('#push-end').val();
        push_moneys = $('#push-moneys').val();

        if (title == '') {
            swal(
                '活动名称不能为空！',
                '',
                'error'
            )
        } else if (push_moneys == ''){
            swal(
                '活动折扣金额不能为空！',
                '',
                'error'
            )
        } else if (money == ''){
            swal(
                '活动金额不能为空！',
                '',
                'error'
            )
        } else if (date_star == '') {
            swal(
                '活动开始时间不能为空！',
                '',
                'error'
            )
        } else if (date_end =='') {
            swal(
                '活动结束时间不能为空！',
                '',
                'error'
            )
        } else {
            if (ids) {
                pushAjax('post','/admin/rebate/add',{ids:ids,title:title,money:money,push_moneys:push_moneys,date_star:date_star,date_end:date_end},"添加");
            } else {
                pushAjax('post','/admin/rebate/add',{ids:ids,title:title,money:money,push_moneys:push_moneys,date_star:date_star,date_end:date_end},"添加");
            }
        }
    }
    function pushAjax(type,url,data,str) {
        $.ajax({
            type : type,
            url : url,    //请求发送到TestServlet处
            data : data,
            dataType : "json",        //返回数据形式为json
            success : function(res) {
                if (res == 1) {
                    swal(
                        str+"成功!",
                        '',
                        'success'
                    );
                    setTimeout("location.reload()",1500);
                } else {
                    swal(str+"失败!", "", "error");
                }
            }
        });
    }

</script>
</body>
</html>