<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>家私计算器 | 登录</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="/static/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/assets/plugins/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="/static/assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="/static/assets/css/default/style.min.css" rel="stylesheet" />
	<link href="/static/assets/css/default/style-responsive.min.css" rel="stylesheet" />
	<link href="/static/assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/static/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	<link href="/static/sweetalert2.min.css" rel="stylesheet">

</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin login-cover -->
	<div class="login-cover">
		<div class="login-cover-image" style="background-image: url(/static/assets/img/login-bg/login-bg-17.jpg)" data-id="login-cover-image"></div>
		<div class="login-cover-bg"></div>
	</div>
	<!-- end login-cover -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-v2" data-pageload-addclass="animated fadeIn">
			<!-- begin brand -->
			<div class="login-header">
				<div class="brand">
					<span class="logo"></span> <b>计算器</b> 管理平台
					<small>我的家私计算器...</small>
				</div>
				<div class="icon">
					<i class="fa fa-lock"></i>
				</div>
			</div>
			<!-- end brand -->
			<!-- begin login-content -->
			<div class="login-content">
				<div class="form-group m-b-20">
					<input id="name" type="text" class="form-control form-control-lg" placeholder="用户名" required />
				</div>
				<div class="form-group m-b-20">
					<input id="pwd" type="password" class="form-control form-control-lg" placeholder="密码" required />
				</div>
				<div class="checkbox checkbox-css m-b-20">
					<input type="checkbox" id="remember_checkbox" />
					<label for="remember_checkbox">
						记住我
					</label>
				</div>
				<div class="login-buttons">
					<a class="btn btn-success btn-block btn-lg" href="#" onclick="goLogin()">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
				</div>
				<div class="m-t-20">
					没有账号? <a href="/register">进入注册</a>
				</div>
			</div>
			<!-- end login-content -->
		</div>
		<!-- end login -->
		
		<!-- begin login-bg -->
		<ul class="login-bg-list clearfix">
			<li class="active"><a href="javascript:;" data-click="change-bg" data-img="/static/assets/img/login-bg/login-bg-17.jpg" style="background-image: url(/static/assets/img/login-bg/login-bg-17.jpg)"></a></li>
			<li><a href="javascript:;" data-click="change-bg" data-img="/static/assets/img/login-bg/login-bg-16.jpg" style="background-image: url(/static/assets/img/login-bg/login-bg-16.jpg)"></a></li>
			<li><a href="javascript:;" data-click="change-bg" data-img="/static/assets/img/login-bg/login-bg-15.jpg" style="background-image: url(/static/assets/img/login-bg/login-bg-15.jpg)"></a></li>
			<li><a href="javascript:;" data-click="change-bg" data-img="/static/assets/img/login-bg/login-bg-14.jpg" style="background-image: url(/static/assets/img/login-bg/login-bg-14.jpg)"></a></li>
			<li><a href="javascript:;" data-click="change-bg" data-img="/static/assets/img/login-bg/login-bg-13.jpg" style="background-image: url(/static/assets/img/login-bg/login-bg-13.jpg)"></a></li>
			<li><a href="javascript:;" data-click="change-bg" data-img="/static/assets/img/login-bg/login-bg-12.jpg" style="background-image: url(/static/assets/img/login-bg/login-bg-12.jpg)"></a></li>
		</ul>
		<!-- end login-bg -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/static/assets/plugins/jquery/jquery-3.3.1.min.js"></script>
	<script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="/static/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="/static/assets/crossbrowserjs/respond.min.js"></script>
		<script src="/static/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="/static/assets/js/theme/default.min.js"></script>
	<script src="/static/assets/js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="/static/assets/js/demo/login-v2.demo.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	<script src="/static/sweetalert2.js"></script>
	<script src="/static/js/jquery.cookie.min.js"></script>
	<script>
		$(document).ready(function() {
			App.init();
			LoginV2.init();
			uname = $.cookie('name');
			pwd = $.cookie('pwd');
			if (uname && pwd) {
				$('#name').val(uname);
				$('#pwd').val(pwd);
				$('#remember_checkbox').checked = true;
			}
		});

		function goLogin() {
			uname = $('#name').val();
			pwd = $('#pwd').val();
			remember_checkbox = $('#remember_checkbox').val();
			var pattern = /^[\w_-]{6,10}$/;
			if (uname == '') {
				swal(
						"名字不能为空!",
						'',
						'error'
				);
			} else if (pwd == '') {
				swal(
						"密码不能为空!",
						'',
						'error'
				);
			}  else if (! pattern.test(pwd)) {
				swal(
						"密码长度6-10之间!",
						'',
						'error'
				);
			} else {
				$.ajax({
					type : "post",
					url : "/login",    //请求发送到TestServlet处
					data : {name:uname,pwd:pwd},
					dataType : "json",        //返回数据形式为json
					success : function(res) {
						if (res.Status) {
							swal(
									res.Msg,
									'',
									'success'
							);
							if (remember_checkbox) {
								$.cookie('name',uname);
								$.cookie('pwd',pwd);
							}
							setTimeout("location.href=\"/admin/index\";",1500);
						} else {
							swal(res.Msg, "", "error");
						}
					}
				});
			}
		}


	</script>
</body>
</html>
